<div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav">
  <!-- Collapse -->
  <div class="nav-item">
    <a class="nav-link dropdown-toggle @@if(category=='dashboards'){active}" href="#navbarVerticalMenuDashboards" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuDashboards" aria-expanded="@@if(category=='dashboards'){true}@@if(category!=='dashboards'){false}" aria-controls="navbarVerticalMenuDashboards">
      <i class="bi-house-door nav-icon"></i>
      <span class="nav-link-title">Dashboards</span>
    </a>

    <div id="navbarVerticalMenuDashboards" class="nav-collapse collapse @@if(category=='dashboards'){show}" data-bs-parent="#navbarVerticalMenu">
      <a class="nav-link @@if(link=='index.html'){active}" href="@@autopath/index.html">Default</a>
      <a class="nav-link @@if(link=='dashboard-alternative.html'){active}" href="@@autopath/dashboard-alternative.html">Alternative</a>
    </div>
  </div>
  <!-- End Collapse -->

  <span class="dropdown-header mt-4">Pages</span>
  <small class="bi-three-dots nav-subtitle-replacer"></small>

  <!-- Collapse -->
  <div class="navbar-nav nav-compact">

  </div>
  <div id="navbarVerticalMenuPagesMenu">
    <!-- Collapse -->
    <div class="nav-item">
      <a class="nav-link dropdown-toggle @@if(category=='transactions'){active}"
        href="#navbarVerticalMenuPagesTransactionsMenu" role="button" data-bs-toggle="collapse"
        data-bs-target="#navbarVerticalMenuPagesTransactionsMenu"
        aria-expanded="@@if(category=='transactions'){true}@@if(category!=='transactions'){false}"
        aria-controls="navbarVerticalMenuPagesTransactionsMenu">
        <i class="bi-journal-text nav-icon"></i>
        <span class="nav-link-title">은행거래내역</span>
      </a>

      <div id="navbarVerticalMenuPagesTransactionsMenu" class="nav-collapse collapse @@if(category=='transactions'){show}" data-bs-parent="#navbarVerticalMenuPagesMenu">
        <a class="nav-link @@if(link=='transactions.html'){active}" href="@@autopath/transactions.html">전체내역</a>
        <a class="nav-link @@if(link=='transactions-upload.html'){active}" href="@@autopath/transactions-upload.html">파일 업로드</a>
      </div>
    </div>
    <!-- End Collapse -->

    <div class="nav-item">
      <a class="nav-link @@if(link=='welcome-page.html'){active}" href="@@autopath/welcome-page.html"
        data-placement="left">
        <i class="bi-kanban nav-icon"></i>
        <span class="nav-link-title">기간 결산</span>
      </a>
    </div>
    
    <!-- Collapse -->
    <!-- <div class="nav-item">
      <a class="nav-link dropdown-toggle @@if(category=='books'){active}"
        href="#navbarVerticalMenuPagesBooksMenu" role="button" data-bs-toggle="collapse"
        data-bs-target="#navbarVerticalMenuPagesBooksMenu"
        aria-expanded="@@if(category=='books'){true}@@if(category!=='books'){false}"
        aria-controls="navbarVerticalMenuPagesBooksMenu">
        <i class="bi-journal-text nav-icon"></i>
        <span class="nav-link-title">기간결산</span>
      </a>

      <div id="navbarVerticalMenuPagesBooksMenu"
        class="nav-collapse collapse @@if(category=='books'){show}"
        data-bs-parent="#navbarVerticalMenuPagesMenu">
        <a class="nav-link @@if(link=='books.html'){active}" href="@@autopath/books.html">전체결산</a>
        <a class="nav-link @@if(link=='books-day.html'){active}" href="@@autopath/books.html">일일결산</a>
        <a class="nav-link @@if(link=='books-week.html'){active}"
          href="@@autopath/books.html">주간결산</a>
        <a class="nav-link @@if(link=='books-month.html'){active}"
          href="@@autopath/books.html">월간결산</a>
        <a class="nav-link @@if(link=='books-quarter.html'){active}"
          href="@@autopath/books.html">분기결산</a>
        <a class="nav-link @@if(link=='books-halfyear.html'){active}"
          href="@@autopath/books.html">반기결산</a>
        <a class="nav-link @@if(link=='books-year.html'){active}"
          href="@@autopath/books.html">연간결산</a>
      </div>
    </div> -->
    <!-- End Collapse -->

  <span class="dropdown-header mt-4">설정</span>
  <small class="bi-three-dots nav-subtitle-replacer"></small>

  <div class="nav-item">
    <a class="nav-link @@if(link=='settings.html'){active}" href="@@autopath/settings.html" data-placement="left">
      <i class="bi-kanban nav-icon"></i>
      <span class="nav-link-title">서버 주소 설정</span>
    </a>
  </div>
</div>
