<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Layouts | Front - Admin &amp; Dashboard Template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="@@autopath/favicon.ico">

  <!-- Font -->
  <link href="@@vars.themeFont" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <!-- bundlecss:vendor [@@autopath] -->
  <link rel="stylesheet" href="@@autopath/node_modules/bootstrap-icons/font/bootstrap-icons.css">

  <!-- CSS Front Template -->
  <!-- bundlecss:theme [@@autopath] @@vars.version -->
  @@if(layoutBuilder.extend.switcherSupport === false) {
    <link rel="stylesheet" href="@@autopath/assets/css/theme@@if(themeAppearance.layoutSkin === 'dark'){-dark}.css">
  }

  @@if(layoutBuilder.extend.switcherSupport === true) {
    <link rel="preload" href="@@autopath/assets/css/theme.css" data-hs-appearance="default" as="style">
    <link rel="preload" href="@@autopath/assets/css/theme-dark.css" data-hs-appearance="dark" as="style">

    <style data-hs-appearance-onload-styles>
        * {
            transition: unset !important;
        }

        body {
            opacity: 0;
        }
    </style>
  }
</head>

<body class="@@if(layoutBuilder.header.layoutMode === 'default'){has-navbar-vertical-aside navbar-vertical-aside-show-xl} @@if(layoutBuilder.sidebarLayout === 'compact'){navbar-vertical-aside-compact-mode navbar-vertical-aside-compact-mini-mode} @@if(layoutBuilder.sidebarLayout === 'mini'){navbar-vertical-aside-mini-mode} footer-offset">
  @@if(layoutBuilder.extend.switcherSupport === true) {
    <script src="@@autopath/assets/js/hs.theme-appearance.js"></script>
  }

  <!-- ========== HEADER ========== -->
  @@include("@@autopath/partials/navbar/main.html")
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <!-- Navbar Vertical -->
  @@include("@@autopath/partials/sidebar/main.html", {
    "category": "dashboards",
    "subcategory": "",
    "link": "index.html"
  })
  <!-- End Navbar Vertical -->

  <main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content @@layoutBuilder.header.containerMode">
      <div class="row justify-content-lg-center pt-lg-5 pt-xl-10">
        <div class="col-lg-9 col-xl-8">
          <!-- Title -->
          <div class="text-center mb-7">
            <h1 class="display-4">Layouts</h1>
            <p>Customize your overview page layout. Choose the one that best fits your needs.</p>
          </div>
          <!-- End Title -->

          <span class="divider-center">Demo layouts</span>

          <div class="row my-5 mb-lg-7">
            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/demo-layouts-default-classic.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/demo-layouts-default-classic.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/demo-layouts-default-classic.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Default <span>(Classic)</span></h5>
              </div>
              <!-- End Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/demo-layouts-nav-tabs.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/demo-layouts-nav-tabs.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/demo-layouts-nav-tabs.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Nav Tabs</h5>
              </div>
              <!-- End Card -->
            </div>
          </div>
          <!-- End Row -->

          <span class="divider-center">Header</span>

          <div class="row my-5 mb-lg-7">
            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/header-default-container.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/header-default-container.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/header-default-container.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Default</h5>
              </div>
              <!-- End Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/header-double-line-container.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/header-double-line-container.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/header-double-line-container.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Double line</h5>
              </div>
              <!-- End Card -->
            </div>
          </div>
          <!-- End Row -->

          <span class="divider-center">Sidebar</span>

          <div class="row my-5 mb-lg-7">
            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/sidebar-default-classic.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/sidebar-default-classic.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/sidebar-default-classic.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Default <span class="text-body">(Classic)</span></h5>
              </div>
              <!-- End Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/sidebar-compact.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/sidebar-compact.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/sidebar-compact.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Compact</h5>
              </div>
              <!-- End Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/sidebar-mini.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/sidebar-mini.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/sidebar-mini.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Mini</h5>
              </div>
              <!-- End Card -->
            </div>
          </div>
          <!-- End Row -->

          <span class="divider-center">Sidebar Combinations</span>

          <div class="row my-5 mb-lg-7">
            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/sidebar-combinations-mini-plus-one-cols.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/sidebar-combinations-mini-plus-one-cols.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/sidebar-combinations-mini-plus-one-cols.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Mini + one columns</h5>
              </div>
              <!-- End Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/sidebar-combinations-two-cols.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/sidebar-combinations-two-cols.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/sidebar-combinations-two-cols.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Two columns</h5>
              </div>
              <!-- End Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/sidebar-combinations-two-plus-mini-cols.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/sidebar-combinations-two-plus-mini-cols.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/sidebar-combinations-two-plus-mini-cols.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Two + mini columns</h5>
              </div>
              <!-- End Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/sidebar-combinations-two-cols-between.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/sidebar-combinations-two-cols-between.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/sidebar-combinations-two-cols-between.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Two columns between</h5>
              </div>
              <!-- End Card -->
            </div>
          </div>
          <!-- End Row -->

          <span class="divider-center">Sidebar Detached</span>

          <div class="row my-5 mb-lg-7">
            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/sidebar-detached-container.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/sidebar-detached-container.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/sidebar-detached-container.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Container</h5>
              </div>
              <!-- End Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/sidebar-detached-overlay-container.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/sidebar-detached-overlay-container.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/sidebar-detached-overlay-container.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Overlay</h5>
              </div>
              <!-- End Card -->
            </div>
          </div>
          <!-- End Row -->

          <span class="divider-center">Content Combinations</span>

          <div class="row my-5 mb-lg-7">
            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/content-combinations-content-centered.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/content-combinations-content-centered.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/content-combinations-content-centered.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Medium content centered</h5>
              </div>
              <!-- End Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/content-combinations-overlay.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/content-combinations-overlay.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/content-combinations-overlay.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Overlay</h5>
              </div>
              <!-- End Card -->
            </div>

            <div class="col-sm-6 col-lg-4 mb-3 mb-lg-5">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/content-combinations-container-overlay.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/content-combinations-container-overlay.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/content-combinations-container-overlay.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Container Overlay</h5>
              </div>
              <!-- End Card -->
            </div>
          </div>
          <!-- End Row -->

          <span class="divider-center">Footer</span>

          <div class="row mt-5">
            <div class="col-sm-6 col-lg-4">
              <!-- Card -->
              <a class="d-block card-transition mb-3" href="@@autopath/layouts/footer-default-container.html">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts/footer-default-container.svg" alt="Image Description" data-hs-theme-appearance="default">
                <img class="img-fluid w-100" src="@@autopath/assets/svg/layouts-light/footer-default-container.svg" alt="Image Description" data-hs-theme-appearance="dark">
              </a>

              <div class="text-center">
                <h5 class="mb-0">Default</h5>
              </div>
              <!-- End Card -->
            </div>
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Keyboard Shortcuts -->
  @@include("@@autopath/partials/layouts-components/offcanvas-shortcuts.html")
  <!-- End Keyboard Shortcuts -->

  <!-- Activity -->
  @@include("@@autopath/partials/layouts-components/offcanvas-activity.html")
  <!-- End Activity -->

  <!-- Welcome Message -->
  @@include("@@autopath/partials/modals/welcome-message.html")
  <!-- End Welcome Message -->
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- JS Global Compulsory @@deleteLine:build -->
  <script src="@@autopath/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="@@autopath/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="@@autopath/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <!-- bundlejs:vendor [@@autopath] -->
  <script src="@@autopath/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside.min.js"></script>
  <script src="@@autopath/assets/vendor/hs-form-search/dist/hs-form-search.min.js"></script>

  <!-- JS Front -->
  <!-- bundlejs:theme [@@autopath] -->
  <script src="@@autopath/assets/js/hs.core.js"></script>
  <script src="@@autopath/assets/js/hs.bs-dropdown.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF NAVBAR VERTICAL ASIDE
      // =======================================================
      new HSSideNav('.js-navbar-vertical-aside').init()


      // INITIALIZATION OF FORM SEARCH
      // =======================================================
      new HSFormSearch('.js-form-search')


      // INITIALIZATION OF BOOTSTRAP DROPDOWN
      // =======================================================
      HSBsDropdown.init()
    })()
  </script>

  <!-- Style Switcher JS -->
  @@if(layoutBuilder.extend.switcherSupport === true) {
    @@include("@@autopath/partials/layouts-components/darkmode-switcher-js.html")
  }
  <!-- End Style Switcher JS -->
</body>
</html>
